@model Library.Models.BookModel

@{
    ViewBag.Title = "Take";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>

<div>
    <p>
        You have successfully taken the book: <b>@Html.DisplayFor(model => model.Title)</b>
        by <b>AuthorNames</b> until <b>YYYY.MM.DD</b>. Please, not forget to return it in time!
    </p>
    <p>An email with details has been sent to you.</p>
</div>

<p>
    @Html.ActionLink("Back to the List", "Index")
</p>
