@model IEnumerable<Library.Models.UserModel>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Email
            @*@Html.DisplayFor(modelItem => item.Email)*@
        </td>
        <td>
            @Html.ActionLink("Show taken books", "ShowTakenBooks", new { id=item.Id })
        </td>
    </tr>
}

</table>
